body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.panel {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 800px;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#saudacao {
    margin: 0;
}

#relogio {
    font-size: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #007bff;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

thead {
    background-color: #007bff;
    color: #fff;
}

.advertisement {
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
}

.advertisement img {
    max-width: 100px;
}

#anuncios{
    width: 20%;
}

#anuncios img{
    max-width: 100%;
}